<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>DLSU-D SWC</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/img/dlsud-logo.png" rel="icon">
  <link href="/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/vendor/animate.css/animate.css" rel="stylesheet">
  <link href="/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">
  <link href="/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/vendor/boxicons/css/boxicons.css" rel="stylesheet">
  <link href="/vendor/glightbox/css/glightbox.css" rel="stylesheet">
  <link href="/vendor/swiper/swiper-bundle.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/css/student-homepage-style.css" rel="stylesheet">
</head>

<body>

  <!-- ======= Top Bar ======= -->
  <section id="topbar" class="d-flex align-items-center">
    <div class="container d-flex justify-content-center justify-content-md-between">
      <div class="contact-info d-flex align-items-center">
        <i class="bi bi-phone-fill phone-icon"></i> Cavite: +63 (46) 481.1900
        <i class="bi bi-phone-fill phone-icon"></i> Manila: +63 (2) 8779.5180
      </div>
      <div class="social-links d-none d-md-block">
        <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
        <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
        <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
        <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></i></a>
      </div>
    </div>
  </section>

  <!-- ======= Header ======= -->
  <header id="header" class="d-flex align-items-center">
    <div class="container d-flex align-items-center">

      <h1 class="logo me-auto"><a href="/adminHomepage">DLSU-D Student Wellness Center</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar">
        <ul>
          <li class="dropdown"><a href="#"><span>Manage Accounts</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="/adminViewAccounts">View Accounts</a></li>
              <li><a href="/adminCreateAccounts">Create Accounts</a></li>
              <li><a href="/adminEditRoles">Edit Roles</a></li>
              <li><a href="/adminEditAccounts">Edit Accounts</a></li>
            </ul>
          </li>
          <li class="dropdown"><a href="#"><span>Manage Appointment</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="/adminPendingAppointment">Pending Appointments</a></li>
              <li><a href="/adminAcceptedAppointment">Accepted Appointments</a></li>
              <li><a href="/adminAppointmentHistory">Appoinment History</a></li>
            </ul>
          </li>
          <li class="dropdown"><a href="#"><span>Documentation</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="/adminCounselorLog">Counselor Logs</a></li>
              <li><a href="/adminCounselorLog">Statistic Report</a></li>
              <li><a href="/adminCounselorLog">Summary Of Appointment</a></li>
            </ul>
          </li>
          <li><a class="getstarted scrollto" href="/">Logout</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <main id="main">
    
    <div class="table-responsive">
      <table class="table table-hover">
        <thead class="table-dark">
          <tr>
            
            <th scope="col">Student Name</th>
            <th scope="col">Program Code</th>
            <th scope="col">Type Of Service</th>
            <th scope="col">Category Type</th>
            <th scope="col">Nature Of Concern</th>
            <th scope="col">Counseling Client</th>
            <th scope="col">Session Name</th>
            <th scope="col">Date Encoded</th>
          </tr>
        </thead>
        <tbody>
          <% counselorLog.forEach((log) => { %>
            <tr>
                <td><%= log.student_lname %> <%= log.student_fname %></td>
              <td><%= log.progcode %></td>
              <td><%= log.service %></td>
              <td><%= log.category %></td>
              <td><%= log.concern %></td>
              <td><%= log.client %></td>
              <td><%= log.session %></td>
              <td><%= log.date_encoded %> <%= log.time_encoded %></td> 
            </tr>
          <% }); %>
        </tbody>
      </table>
    </div>
  </main>


  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <h3>You are in Create accounts</h3>
      <div class="social-links">
        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
      <div class="copyright">
        &copy; Copyright <strong><span>De La Salle</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/green-free-one-page-bootstrap-template/ -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
  <script src="/js/adminCreateAccount"></script>
  <script src="/js/home-page.js"></script>

</body>

</html>